body {
  text-align: center;
}

.row {
  display: inline-block;
  vertical-align: middle;
}

.no-display {
  display: none;
}

.mushroom-sample {
  border: 1px solid black;
  border-radius: 3px;
  display: inline-block;
  margin-bottom: 3px;
  padding: 5px;
}
